/* css styles */
html * {
  font-family: Trebuchet MS;
}

.about-image {
  float: left;
  height: auto;
  margin: 10px;
  width: 40%;
  min-width: 200px;
  padding-right: 50px;
  text-align: left;
}

@media (max-width: 640px) {
  .name-text {
    font-size: 30px;
  }
  
  .what-i-do {
    font-size: 18px;
  }
}

@media (min-width: 641px) {
  .name-text {
    font-size: 30px;
  }
  
  .what-i-do {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .about-text {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (min-width: 641px) {
  .about-text {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (max-width: 640px) {
  .icon-box {
    text-align: center;
  }
}

@media (min-width: 641px) {
  .icon-box {
    padding-top:5%;
    padding-bottom:5%;
    margin-left:15%;
    margin-right:15%;
    text-align: center;
  }
}

.icon-img {
  border-radius: 2%;
  width: 80%;
  height: auto;
  min-width: 250px;
}

.icon-lg {
  font-size: 2em;
}

.button {
  border: none;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /*padding: 12px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.profile-image {
  height: auto;
  vertical-align: middle;
  width: 25%;
  min-width: 250px;
}
