/* css styles */
.about-image {
  float: left;
  height: 40vh;
  margin: 10px;
  padding-right: 50px;
  text-align: left;
  width: 40vw;
}

.about-text {
  text-align: justify;
  text-indent: 40px;
  padding-top: 10%;
}

.profile-image {
  height: 20vh;
  padding-top: 2%;
  vertical-align: middle;
  width: 20vw;
}
