/* css styles */
.about-image {
  float: left;
  height: auto;
  margin: 10px;
  width: 40%;
  min-width: 200px;
  padding-right: 50px;
  text-align: left;
}

@media (max-width: 480px) {
  .about-text {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (min-width: 481px) {
  .about-text {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }
}

.icon-img {
  border-radius: 2%;
  width: 80%;
  height: auto;
  min-width: 250px;
}

.icon-box {
  padding-top:20%;
  padding-bottom:10%;
  text-align: center;
}

.icon-lg {
  font-size: 2em;
}

.button {
  border: none;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /*padding: 12px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.profile-image {
  height: auto;
  vertical-align: middle;
  width: 25%;
  min-width: 250px;
}
